<div class="fondo">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../../favicon.ico" alt="iconoJuego" width="30" height="24">
      </a>
      <a class="navbar-brand" [routerLink]="['/']">Playroom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/quiensoy']">QuienSoy</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Juegos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/']"  >Preguntados</a></li>
              <li><a class="dropdown-item" [routerLink]="['/']"  >Ahorcardo</a></li>
              <li><a class="dropdown-item" [routerLink]="['/']" >Mayor o menor</a></li>
            </ul>
          </li>
        </ul>
        @if(this.auth.getUser() == null)
        {
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-danger btn-sm" type="button" href="login">Iniciar Sesión</a>
            <a class="btn btn-outline-danger btn-sm" type="button" href="registro">Registrarse</a>
          </div>
        } @else{
          <button class="btn btn-danger btn-sm" type="button" (click)="CloseSession()">Cerrar Sesión</button>
        }
      </div>
    </div>
  </nav>
  <div class="cards-container" >
    <div class="card-Ahorcado" (click)="NavegarJuegos('ahorcado')">
      <div class="card">
        <img src="assets/ahorcado.jpg" alt="ahorcado" height="500px">
        <div class="card__content">
          <p class="card__title">Ahorcado</p>
          <p class="card__description">En este juego tenes que adivinar la palabra, sin que se te acaben los intentos, vas a tener que ir armando la palabra adivinando las letras...</p>
        </div>
      </div>
    </div>
    <div class="card-Mayormenor" (click)="NavegarJuegos('mayormenor')">
      <div class="card">
        <img src="assets/mayormenor.jpg" alt="mayormenor" height="500px">
        <div class="card__content">
          <p class="card__title">Mayor o menor</p>
          <p class="card__description">En este juego vas a tener que adivinar si la carta que sigue es, mayor o menor a la que se muestra en pantalla, suerte!!.</p>
        </div>
      </div>
    </div>
    <div class="card-Preguntados" (click)="NavegarJuegos('preguntados')">
      <div class="card">
        <img src="assets/preguntados.jpg" alt="preguntados" height="300px" width="485px">
        <div class="card__content">
          <p class="card__title">Preguntados</p>
          <p class="card__description">En este juego, tenes que responder de forma correcta las preguntas para poder sumar puntos, vas a tener que estar muy atento.</p>
        </div>
      </div>
    </div>
    <div class="card-Simondice" (click)="NavegarJuegos('simondice')">
      <div class="card">
        <img src="assets/simondice.png" alt="simondice" height="250px">
        <div class="card__content">
          <p class="card__title">Simon dice</p>
          <p class="card__description">En este juego, vas a tener que seguir paso a paso lo que dice Simon, pero cuidado no te confundas, solamente hay que seguirlo cuando "Simon dice" ...</p>
        </div>
      </div>
    </div>
  </div>
  @if (this.auth.getUser() != null){
    <div class="tooltip-container">
      <span class="tooltip">{{this.auth.getUserEmail()}}</span>
      <span class="text">Usuario logueado</span>
    </div> 
    <div class="chat">
      <app-chat></app-chat> 
    </div>
  }

</div>
