body {
    margin: 0;
    padding: 0;
  }


.fondo {
    /* Basic dimensions and centering */
    width: 100vw;
    height: 100vh;
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

  #dropdownMenuButton {
    background-color: rgb(209, 26, 26) !important;
    border: none !important;
}
.dropdown-item:hover{
background-color: rgb(209, 26, 26) !important;
}

/* Style for the tooltip container */
.tooltip-container {
  --background-light: #ff5555; /* Red */
  --background-dark: #000000; /* Black */
  --text-color-light: #ffffff;
  --text-color-dark: #ffffff;
  --bubble-size: 12px;
  --glow-color: rgba(255, 255, 255, 0.5); /* Brighter glow color */

  position: fixed; /* Cambiado a fixed para mantener el tooltip en la misma posición en la pantalla */
  bottom: 20px; /* Ajusta la distancia desde abajo */
  right: 20px; /* Ajusta la distancia desde la derecha */
  background: var(--background-light);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  padding: 0.7em 1.8em;
  color: var(--text-color-light);
  border-radius: 8px; /* Rounded edges */
  width: 150px;
}

/* Style for the bubble tooltip */
.tooltip {
  position: absolute;
  top: 10px; /* Ajustado para que esté arriba */
  right: 50%; /* Centrado horizontalmente */
  transform: translateX(50%); /* Centrado horizontalmente */
  padding: 0.6em 1em;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: var(--bubble-size);
  background: var(--background-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text within the tooltip */
}


/* Triangle arrow for the bubble tooltip */
.tooltip::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%);
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: var(--background-light) transparent transparent;
}

/* Tooltip appearance on hover */
.tooltip-container:hover {
  background: var(--background-dark);
  color: var(--text-color-dark);
  box-shadow: 0 0 20px var(--glow-color); /* Brighter glow effect */
}

.tooltip-container:hover .tooltip {
  top: -120%; /* Adjusted position for the bubble tooltip */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


  