<div class="fondo">
    <a class="button" [routerLink]="['/home']"  >
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
        </div>
      </a>
    <div class="thirteen">
        <h1>Simon dice</h1>
    </div>

    <div class="simondice">
        <p>Puntaje: {{puntaje}}</p>
        <p>Segundos faltantes: {{segundos}}</p>
        <img src="assets/simondice1.jpg" alt="simondice" height="200px">
        <p>Simon dice {{simonDice}}</p>
    </div>
    @if (mensaje == undefined) {
        <div class="botones" >
            <button (click)="comprobar('arriba')">
                <span> Arriba </span>
            </button>
            <div>
                <button (click)="comprobar('izquierda')">
                    <span> Izquierda </span>
                </button>
                <button (click)="comprobar('derecha')">
                    <span> Derecha</span>
                </button>
            </div>
            <button (click)="comprobar('abajo')">
                <span> Abajo </span>
            </button>
            <button (click)="comprobar('salta')">
                <span> Saltar </span>
            </button>
        </div>
    } @else {
        @if (this.mensaje == false) {
            <p>Perdiste :/</p>
            <button class="btn btn-danger  mt" (click)="iniciar()">Reciniciar</button>
        } @else {
            <p>GANASTE!!!!!</p>
            <p>HICISTE UNA PUNTUACION TOTAL DE 5</p>
            <button class="btn btn-danger  mt" (click)="iniciar()">Reciniciar</button>
        }
    }
   
    
    


</div>
